<section
  class="container mt-6 grid grid-cols-4 gap-y-4 border-dark-gray lg:mb-3 lg:mt-12 lg:grid-cols-12 lg:gap-6 lg:border-b lg:pb-20"
>
  <h3
    class="col-span-4 flex items-center justify-between text-2xl text-42px leading-normal lg:col-span-12"
  >
    <div>
      <p class="text-orange-pink">{{ bike.year }} {{ bike.model }}</p>
      <span class="block text-sm text-dark-gray lg:text-xl"
        >{{ article.slogan }}</span
      >
    </div>
    <div><strong class="text-orange-pink">$ {{bike.price}}</strong></div>
  </h3>
  <div class="col-span-9">
    <button
      class="btn flex border-orange-pink bg-orange-pink text-light-white hover:bg-[#FF886E]"
      @click="addFavorite"
    >
      <i class="fa-regular fa-heart block"></i>
      <span class="ml-2 block">加入收藏</span>
    </button>
    <div class="mt-4 lg:mt-6">
      <!-- v-bind 沒指定屬性是黑魔法，不知道為什麼但能用 -->
      <swiper
        :modules="modules"
        v-bind="swiperTopOptions"
        class="swiper swiperTop"
        @swiper="setThumbsSwiper"
        data-swiper="swiperTop"
      >
        <swiper-slide v-for="(image, index) in bike.images" :key="index">
          <img :src="image" alt="" />
        </swiper-slide>
      </swiper>
      <swiper
        :modules="modules"
        v-bind="swiperThumbsOptions"
        :thumbs="{ swiper: thumbsSwiper}"
        class="swiper swiperThumbs mt-4 lg:mt-6"
        data-swiper="swiperThumbs"
      >
        <swiper-slide
          v-for="(image, index) in bike.images"
          :key="index"
          class="hover:cursor-pointer hover:opacity-100"
        >
          <img :src="image" alt="" />
        </swiper-slide>
      </swiper>
    </div>
    <article class="mt-4 border-b border-dark-gray pb-4 lg:mt-6 lg:pb-8">
      <h4 class="mb-2 text-2xl lg:mb-0 lg:text-42px lg:leading-normal">
        {{ bike.model }}<br />
        {{ article.title }}
      </h4>
      <p class="lg:mt-4 lg:text-base" v-html="article.content"></p>
    </article>
    <div
      class="mt-4 border-b border-dark-gray pb-4 lg:mt-6 lg:grid lg:grid-cols-9 lg:gap-x-6 lg:border-0 lg:pb-0"
    >
      <div class="lg:col-span-6 lg:col-start-3">
        <h5
          class="border-dark-gray text-center lg:border-b lg:pb-2 lg:text-32px lg:leading-normal"
        >
          規格表
        </h5>
        <table class="font-sans-tc mt-2 md:mx-auto md:w-fit lg:mt-6 lg:w-full">
          <tbody class="[&>*]:p-4 [&>*:nth-child(even)]:bg-dark-gray">
            <tr class="[&>*:first-child]:py-2 [&>*:first-child]:text-center">
              <td width="50%">品牌</td>
              <td width="50%">{{ bike.make }}</td>
            </tr>
            <tr class="[&>*:first-child]:py-2 [&>*:first-child]:text-center">
              <td>車款</td>
              <td>{{ bike.model }}</td>
            </tr>
            <tr class="[&>*:first-child]:py-2 [&>*:first-child]:text-center">
              <td>排氣量</td>
              <td>{{ bike.displacement }}cc</td>
            </tr>
            <tr class="[&>*:first-child]:py-2 [&>*:first-child]:text-center">
              <td>最大馬力</td>
              <td>{{ bike.horsepower}}</td>
            </tr>
            <tr class="[&>*:first-child]:py-2 [&>*:first-child]:text-center">
              <td>最大扭力</td>
              <td>{{ bike.torque }}</td>
            </tr>
            <tr class="[&>*:first-child]:py-2 [&>*:first-child]:text-center">
              <td>引擎型式</td>
              <td>{{ bike.engine }}</td>
            </tr>
            <tr class="[&>*:first-child]:py-2 [&>*:first-child]:text-center">
              <td>缸徑 X 行程</td>
              <td>{{ bike.bore }} X {{ bike.stroke }}</td>
            </tr>
            <tr class="[&>*:first-child]:py-2 [&>*:first-child]:text-center">
              <td>壓縮比</td>
              <td>{{ bike.compression_ratio }}</td>
            </tr>
            <tr class="[&>*:first-child]:py-2 [&>*:first-child]:text-center">
              <td>傳動方式</td>
              <td>{{ bike.transmission }}</td>
            </tr>
            <tr class="[&>*:first-child]:py-2 [&>*:first-child]:text-center">
              <td>座高</td>
              <td>{{ bike.seat_height }}</td>
            </tr>
            <tr class="[&>*:first-child]:py-2 [&>*:first-child]:text-center">
              <td>油箱</td>
              <td>{{ bike.fuel_capacity}}</td>
            </tr>
            <tr class="[&>*:first-child]:py-2 [&>*:first-child]:text-center">
              <td>車重</td>
              <td>{{ bike.weight }}</td>
            </tr>
            <tr class="[&>*:first-child]:py-2 [&>*:first-child]:text-center">
              <td>車長 X 車寬 X 車高</td>
              <td>
                {{ bike.length }} X {{ bike.width }} X {{ bike.height }} mm
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="col-span-4 lg:col-span-3">
    <div class="sticky top-[86px]">
      <div class="bg-orange-pink lg:p-4">
        <div
          class="items-center justify-between p-4 text-light-white lg:flex lg:p-0"
        >
          <div>
            <h4 class="text-2xl lg:text-32px lg:leading-normal">
              銷售聯絡資訊
            </h4>
            <p class="text-sm lg:mt-2">有問題請聯絡 !</p>
          </div>
          <img class="hidden lg:block" src="@/assets/images/bike_icon.svg" />
        </div>
      </div>
      <div class="bg-light-white text-smoke-dark">
        <h4
          class="border-b border-smoke-dark py-4 text-center text-32px leading-normal lg:border-0 lg:text-42px"
        >
          Rent Ride
        </h4>
        <a
          href="mailto:rentride@gmail.com"
          class="group flex items-center gap-x-3 border-smoke-dark px-4 pt-2 lg:border-b lg:py-8"
        >
          <i class="fa-regular fa-paper-plane lg:text-2xl"></i>
          <span
            class="block text-2xl transition-transform duration-300 group-hover:scale-105"
            >rentride@gmail.com</span
          >
        </a>
        <a
          href="tel:+0932857448"
          class="group flex items-center gap-x-3 border-smoke-dark px-4 pt-2 lg:border-b lg:py-8"
        >
          <i class="fa-solid fa-phone-volume lg:text-2xl"></i>
          <span
            class="block text-2xl transition-transform duration-300 group-hover:scale-105"
            >0932857448</span
          >
        </a>
        <div class="p-4 lg:py-6 lg:px-4">
          <a class="btn-primary btn w-full" @click.prevent="checkUser(bike.id)"
            >預約賞車</a
          >
        </div>
      </div>
    </div>
  </div>
</section>
