<section class="mt-6 bg-smoke-dark 3xl:mt-[278px]">
  <div class="container py-6 3xl:pb-[72px] 3xl:pt-10">
    <div class="flex items-center justify-between">
      <h3 class="text-32px">
        最新消息
        <span class="hidden text-2xl text-orange-pink md:inline">News</span>
      </h3>
      <button type="button">
        <router-link
          to="/news"
          class="btn-solid-clip block w-[152px] text-base hover:bg-smoke-dark sm:h-auto sm:w-49 sm:text-xl"
        >
          更多消息
        </router-link>
      </button>
    </div>
    <ul v-if="innerWidth >= 1024" class="mt-15 grid grid-cols-12 gap-8">
      <!-- 筆電以上才有 kinesis 的效果 -->
      <kinesis-container
        tag="li"
        class="group relative col-span-4 text-smoke-dark"
        v-for="newsItem in news"
        :key="newsItem.id"
      >
        <kinesis-element
          class="group relative z-10 flex h-full flex-col bg-light-white"
          type="depth"
        >
          <div class="h-1/2">
            <img class="w-full" :src="newsItem.imgUrl" />
          </div>
          <div class="card-body flex h-1/2 flex-col">
            <h5>{{ newsItem.title }}</h5>
            <p class="pt-3">{{ newsItem.description }}</p>
            <div class="mt-auto text-end">
              <button type="button" class="inline-block w-36">
                <a
                  class="btn-solid-clip group-hover:btn-solid-clip-group-hover block py-2 text-lg text-light-white"
                >
                  了解更多
                </a>
              </button>
            </div>
          </div>
          <router-link
            :to="`/news/${newsItem.id}`"
            class="absolute inset-0"
          ></router-link>
        </kinesis-element>
        <kinesis-element
          class="absolute top-2 left-2 h-full w-full border-2 border-blue-gray"
          :strength="15"
          type="depth"
        ></kinesis-element>
      </kinesis-container>
    </ul>
    <ul v-else class="mt-6 grid grid-cols-4 gap-6">
      <li
        class="group relative col-span-4 text-smoke-dark"
        v-for="newsItem in news"
        :key="newsItem.id"
      >
        <div class="group relative z-10 bg-light-white">
          <div>
            <img class="w-full" :src="newsItem.imgUrl" alt="news1" />
          </div>
          <div class="card-body">
            <h5>{{ newsItem.title }}</h5>
            <p class="pt-3">{{ newsItem.description }}</p>
            <div class="text-end">
              <button type="button" class="mt-4 inline-block w-36">
                <a class="btn-solid-clip block py-2 text-lg text-light-white">
                  了解更多
                </a>
              </button>
            </div>
          </div>
          <router-link
            :to="`/news/${newsItem.id}`"
            class="absolute inset-0"
          ></router-link>
        </div>
        <div
          class="absolute top-2 left-2 h-full w-full border-2 border-blue-gray"
        ></div>
      </li>
    </ul>
  </div>
</section>
