<section
  class="relative after:absolute after:top-0 after:left-0 after:h-screen after:w-screen after:bg-smoke-dark/50 after:content-['']"
>
  <video
    class="h-screen w-screen object-cover"
    src="@/assets/images/promote_video.mp4"
    autoplay
    preload="auto"
    loop
    muted
    playsinline
  ></video>
  <div class="position-center container absolute z-10">
    <h2 class="text-lg lg:text-66px lg:leading-tight">
      準備好租賃自己的夢想車款了嗎？
    </h2>
    <h2 class="mt-4 text-lg lg:mt-10 lg:text-66px lg:leading-tight">
      除了租賃，還有待售車款等你牽走哦！
    </h2>
    <div class="mt-8 flex flex-col items-center gap-6 lg:mt-20 lg:flex-row">
      <button>
        <router-link to="/rent" class="btn-solid-clip block w-49 py-4">
          我要租車
        </router-link>
      </button>
      <button>
        <router-link
          to="/shop"
          class="btn-solid-clip block w-49 bg-orange-pink py-4 hover:border-orange-pink"
        >
          預約賞車
        </router-link>
      </button>
    </div>
  </div>
</section>
