[data-swiper='similarSwiper'] {
  padding-top: 40px;
}

[data-swiper='similarSwiper'] .swiper-button-prev {
  top: 16px;
  right: 88px;
  left: auto;
  width: fit-content;
}
[data-swiper='similarSwiper'] .swiper-button-next {
  top: 16px;
  width: fit-content;
}

[data-swiper='similarSwiper'] .swiper-button-prev::after {
  content: 'PREV';
  font-size: 24px;
  font-family: 'Bakbak One';
  color: #f2f2f2;
}

[data-swiper='similarSwiper'] .swiper-button-next::after {
  content: 'NEXT';
  font-size: 24px;
  font-family: 'Bakbak One';
  color: #f2f2f2;
}
