<section class="container relative lg:mb-20">
  <h5 class="absolute">相似的車型還有...</h5>
  <div class="absolute top-1 right-[88px] z-10 h-6 w-1 bg-white"></div>
  <swiper :modules="modules" v-bind="swiperOptions" data-swiper="similarSwiper">
    <swiper-slide>
      <div class="group relative bg-light-white transition-shadow duration-300">
        <div class="flex justify-between p-3 lg:p-10">
          <h5 class="text-smoke-dark">ZX-6R</h5>
          <strong class="text-xl text-orange-pink">$ 636,000</strong>
        </div>
        <div class="overflow-hidden bg-light-gray lg:h-[320px] lg:py-6">
          <img
            class="mx-auto object-cover transition-transform duration-500 lg:h-full"
            src="@/assets/images/card-ninja 636.png"
          />
        </div>
        <ul
          class="font-sans-tc mt-3 flex justify-center text-center text-smoke-dark lg:mt-0 lg:py-8"
        >
          <div class="px-4 lg:px-7">
            <p>年份</p>
            <p class="lg:pt-2">2018</p>
          </div>
          <div class="border-x border-light-gray px-4 lg:px-7">
            <p>車型</p>
            <p class="lg:pt-2">街車</p>
          </div>
          <div class="px-4 lg:px-7">
            <p>品牌</p>
            <p class="lg:pt-2">Kawasaki</p>
          </div>
        </ul>
        <div
          class="font-sans-tc mt-3 grid grid-cols-2 gap-2 border-t border-light-gray p-3 text-smoke-dark md:text-center lg:mt-0 lg:gap-7 lg:p-8 lg:text-left"
        >
          <div class="text-sm text-dark-gray">
            <p>引擎</p>
            <span class="mt-1 block">引擎型式</span>
          </div>
          <div class="text-sm text-dark-gray">
            <p>馬力</p>
            <span class="mt-1 block">最大馬力</span>
          </div>
          <div class="text-sm text-dark-gray">
            <p>排氣量</p>
            <span class="mt-1 block">重機排氣量 cc</span>
          </div>
          <div class="text-sm text-dark-gray">
            <p>扭力</p>
            <span class="mt-1 block">最大扭力</span>
          </div>
        </div>
        <a
          href="#"
          class="absolute inset-0 bg-smoke-dark/50 opacity-0 transition-opacity duration-300 group-hover:opacity-100"
          @click.prevent=""
        ></a>
      </div>
    </swiper-slide>
    <swiper-slide
      ><div
        class="group relative bg-light-white transition-shadow duration-300"
      >
        <div class="flex justify-between p-3 lg:p-10">
          <h5 class="text-smoke-dark">ZX-6R</h5>
          <strong class="text-xl text-orange-pink">$ 636,000</strong>
        </div>
        <div class="overflow-hidden bg-light-gray lg:h-[320px] lg:py-6">
          <img
            class="mx-auto object-cover transition-transform duration-500 lg:h-full"
            src="@/assets/images/card-ninja 636.png"
          />
        </div>
        <ul
          class="font-sans-tc mt-3 flex justify-center text-center text-smoke-dark lg:mt-0 lg:py-8"
        >
          <div class="px-4 lg:px-7">
            <p>年份</p>
            <p class="lg:pt-2">2018</p>
          </div>
          <div class="border-x border-light-gray px-4 lg:px-7">
            <p>車型</p>
            <p class="lg:pt-2">街車</p>
          </div>
          <div class="px-4 lg:px-7">
            <p>品牌</p>
            <p class="lg:pt-2">Kawasaki</p>
          </div>
        </ul>
        <div
          class="font-sans-tc mt-3 grid grid-cols-2 gap-2 border-t border-light-gray p-3 text-smoke-dark md:text-center lg:mt-0 lg:gap-7 lg:p-8 lg:text-left"
        >
          <div class="text-sm text-dark-gray">
            <p>引擎</p>
            <span class="mt-1 block">引擎型式</span>
          </div>
          <div class="text-sm text-dark-gray">
            <p>馬力</p>
            <span class="mt-1 block">最大馬力</span>
          </div>
          <div class="text-sm text-dark-gray">
            <p>排氣量</p>
            <span class="mt-1 block">重機排氣量 cc</span>
          </div>
          <div class="text-sm text-dark-gray">
            <p>扭力</p>
            <span class="mt-1 block">最大扭力</span>
          </div>
        </div>
        <!-- <router-link
        :to="`/shop/motorcycles/${bike.id}`"
        class="absolute inset-0"
      ></router-link> -->
      </div></swiper-slide
    ><swiper-slide
      ><div
        class="group relative bg-light-white transition-shadow duration-300"
      >
        <div class="flex justify-between p-3 lg:p-10">
          <h5 class="text-smoke-dark">ZX-6R</h5>
          <strong class="text-xl text-orange-pink">$ 636,000</strong>
        </div>
        <div class="overflow-hidden bg-light-gray lg:h-[320px] lg:py-6">
          <img
            class="g mx-auto object-cover transition-transform duration-500 lg:h-full"
            src="@/assets/images/card-ninja 636.png"
          />
        </div>
        <ul
          class="font-sans-tc mt-3 flex justify-center text-center text-smoke-dark lg:mt-0 lg:py-8"
        >
          <div class="px-4 lg:px-7">
            <p>年份</p>
            <p class="lg:pt-2">2018</p>
          </div>
          <div class="border-x border-light-gray px-4 lg:px-7">
            <p>車型</p>
            <p class="lg:pt-2">街車</p>
          </div>
          <div class="px-4 lg:px-7">
            <p>品牌</p>
            <p class="lg:pt-2">Kawasaki</p>
          </div>
        </ul>
        <div
          class="font-sans-tc mt-3 grid grid-cols-2 gap-2 border-t border-light-gray p-3 text-smoke-dark md:text-center lg:mt-0 lg:gap-7 lg:p-8 lg:text-left"
        >
          <div class="text-sm text-dark-gray">
            <p>引擎</p>
            <span class="mt-1 block">引擎型式</span>
          </div>
          <div class="text-sm text-dark-gray">
            <p>馬力</p>
            <span class="mt-1 block">最大馬力</span>
          </div>
          <div class="text-sm text-dark-gray">
            <p>排氣量</p>
            <span class="mt-1 block">重機排氣量 cc</span>
          </div>
          <div class="text-sm text-dark-gray">
            <p>扭力</p>
            <span class="mt-1 block">最大扭力</span>
          </div>
        </div>
        <!-- <router-link
        :to="`/shop/motorcycles/${bike.id}`"
        class="absolute inset-0"
      ></router-link> -->
      </div></swiper-slide
    >
    <swiper-slide>Slide 4</swiper-slide><swiper-slide>Slide 5</swiper-slide>
    <swiper-slide>Slide 6</swiper-slide>
  </swiper>
</section>
