<section class="container relative mt-6 mb-10 lg:mb-20 lg:mt-0">
  <div v-if="similarBikes.length>0">
    <h5 class="absolute">相似的車型還有...</h5>

    <swiper
      :modules="modules"
      v-bind="swiperOptions"
      data-swiper="similarSwiper"
      class="h-[550px] lg:h-[800px]"
    >
      <swiper-slide v-for="bike in similarBikes" :key="bike.id">
        <div
          class="group relative h-full bg-light-white transition-shadow duration-300"
        >
          <div class="flex justify-between p-3 lg:p-10">
            <h5 class="text-smoke-dark">{{ bike.model }}</h5>
            <strong class="text-xl text-orange-pink">$ {{ bike.price }}</strong>
          </div>
          <div class="overflow-hidden bg-light-gray lg:h-[320px] lg:py-6">
            <img
              class="mx-auto h-60 object-cover transition-transform duration-500 lg:h-full"
              :src="bike.imgUrl"
            />
          </div>
          <ul
            class="font-sans-tc mt-3 flex justify-center text-center text-smoke-dark lg:mt-0 lg:py-8"
          >
            <div class="px-4 lg:px-7">
              <p>年份</p>
              <p class="lg:pt-2">{{ bike.year }}</p>
            </div>
            <div class="border-x border-light-gray px-4 lg:px-7">
              <p>車型</p>
              <p class="lg:pt-2">{{ bike.type }}</p>
            </div>
            <div class="px-4 lg:px-7">
              <p>品牌</p>
              <p class="lg:pt-2">{{ bike.make }}</p>
            </div>
          </ul>
          <div
            class="font-sans-tc mt-3 grid grid-cols-2 gap-2 border-t border-light-gray p-3 text-smoke-dark md:text-center lg:mt-0 lg:gap-7 lg:p-8 lg:text-left"
          >
            <div class="text-sm text-dark-gray">
              <p>引擎</p>
              <span class="mt-1 block">{{ bike.engine }}</span>
            </div>
            <div class="text-sm text-dark-gray">
              <p>馬力</p>
              <span class="mt-1 block">{{ bike.horsepower }}</span>
            </div>
            <div class="text-sm text-dark-gray">
              <p>排氣量</p>
              <span class="mt-1 block">{{ bike.displacement}} cc</span>
            </div>
            <div class="text-sm text-dark-gray">
              <p>扭力</p>
              <span class="mt-1 block">{{ bike.torque }}</span>
            </div>
          </div>
          <router-link
            :to="`/shop/motorcycles/${bike.id}`"
            class="absolute inset-0 bg-smoke-dark/50 opacity-0 transition-opacity duration-300 group-active:opacity-100 lg:group-hover:opacity-100"
          >
            <span class="position-center absolute">查看更多</span>
          </router-link>
        </div>
      </swiper-slide>
      <div
        class="absolute top-1 right-[46px] z-10 h-6 w-1 bg-white sm:right-[76px] lg:right-[78px]"
      ></div>
    </swiper>
  </div>
  <div v-else class="h-[30vh]">
    <h3 class="position-center absolute">目前沒有其他相似車型販售</h3>
  </div>
</section>
