<section class="relative">
  <img src="@/assets/images/page-title-bg.jpg" />
  <nav class="position-center container absolute">
    <ol class="flex items-center gap-3 text-base lg:text-xl">
      <li>
        <router-link to="/">首頁</router-link>
      </li>
      <li class="flex items-center gap-3">
        <i class="fa-solid fa-circle text-6px text-orange-pink"></i>
        <div class="text-orange-pink">
          <p>我要租車</p>
        </div>
      </li>
    </ol>
    <h2 class="hidden text-orange-pink lg:mt-8 lg:block lg:text-66px">
      我要租車
    </h2>
  </nav>
</section>
