<section class="container mb-10 lg:mb-20">
  <div class="grid lg:grid-cols-12 lg:gap-x-6 lg:gap-y-4">
    <h3
      class="text-32px text-orange-pink lg:col-span-11 lg:col-start-2 lg:text-42px"
    >
      我的收藏
    </h3>
    <div
      class="font-sans-tc grid gap-y-3 lg:col-span-11 lg:col-start-2 lg:grid-cols-11 lg:gap-y-0 lg:gap-x-6"
      v-for="favorite in favorites"
      :key="favorite.id"
    >
      <div class="lg:col-span-2">
        <p class="mb-1 border-b border-dark-gray font-medium lg:pb-2">品牌</p>
        <p>{{favorite.bike_brand}}</p>
      </div>
      <div class="lg:col-span-1">
        <p class="mb-1 border-b border-dark-gray font-medium lg:pb-2">車型</p>
        <p>{{favorite.bike_type}}</p>
      </div>
      <div class="lg:col-span-1">
        <p class="mb-1 border-b border-dark-gray font-medium lg:pb-2">年份</p>
        <p>{{favorite.bike_year}}</p>
      </div>
      <div class="lg:col-span-4">
        <p class="mb-1 border-b border-dark-gray font-medium lg:pb-2">車款</p>
        <div class="lg:flex">
          <p class="lg:flex-1">{{favorite.bike_model}}</p>
          <img class="lg:w-[60%]" :src="favorite.imgUrl" />
        </div>
      </div>
      <div class="hidden lg:col-span-1 lg:block">
        <p class="mb-1 border-b border-dark-gray font-medium lg:pb-2">等級</p>
        <p>{{favorite.bike_grade}}</p>
      </div>
      <div class="flex justify-between gap-3 lg:col-span-2">
        <div class="flex-1 items-center lg:flex lg:flex-auto">
          <button
            class="error-content btn-outline btn-error btn w-full text-base"
            @click="delFavorite(favorite.id)"
          >
            刪除
          </button>
        </div>
        <div class="flex-1 items-center lg:flex lg:flex-auto">
          <router-link
            :to="`/rentOrder/${favorite.bike_id}`"
            class="btn-primary btn w-full text-base"
            >租車</router-link
          >
        </div>
      </div>
    </div>
  </div>
</section>
