<section>
  <kinesis-container class="flex items-center justify-between">
    <kinesis-element
      :strength="20"
      type="translate"
      class="banner-float-text adaptive-position absolute top-20 hidden text-transparent lg:block lg:text-[80px] xl:top-0 xl:text-[160px] 2xl:top-36 3xl:leading-[224px]"
      >RENTRIDE</kinesis-element
    >
    <h2 class="container md:mt-12 lg:mt-[148px] xl:mt-[156px] 2xl:mt-[337px]">
      <p
        class="lg:text-12 pt-6 text-[32px] lg:leading-[44px] xl:pt-0 xl:text-[66px] xl:leading-[92px]"
      >
        <mark class="bg-transparent text-orange-pink">Rent</mark> Your Bike
      </p>
      <p
        class="lg:text-12 pt-6 text-[32px] lg:leading-[44px] xl:mt-6 xl:pt-0 xl:text-[66px] xl:leading-[92px] 2xl:mt-10"
      >
        <mark class="bg-transparent text-orange-pink">Ride</mark> Your Dream
      </p>
      <button
        type="button"
        class="btn-solid-clip mt-6 w-[152px] sm:w-49 xl:mt-10 2xl:mt-20"
      >
        <router-link to="/rent"> Rent now ! </router-link>
      </button>
    </h2>
    <div
      class="absolute top-0 right-0 h-auto bg-[url('@/assets/images/R6.png')] bg-cover after:h-full after:w-full after:bg-[url('@/assets/images/R6-light.png')] after:bg-cover hover:after:block md:block md:h-[252px] md:w-[308px] lg:h-[384px] lg:w-[472px] xl:h-[480px] xl:w-[580px] 2xl:h-[696px] 2xl:w-[812px] 3xl:h-[899px] 3xl:w-[1104px]"
    ></div>
  </kinesis-container>
</section>
