<section class="relative my-10 lg:my-20">
  <div class="container">
    <div class="flex items-center justify-between">
      <h3 class="text-32px">
        租車選擇
        <span class="hidden text-2xl text-orange-pink md:inline"
          >Selection</span
        >
      </h3>
      <button type="button">
        <router-link
          to="/rent"
          class="btn-solid-clip block w-[152px] text-base hover:bg-smoke-dark sm:h-auto sm:w-49 sm:text-xl"
        >
          更多車款
        </router-link>
      </button>
    </div>
    <div class="mt-10 h-[440px] lg:h-[880px]">
      <swiper
        :modules="modules"
        v-bind="swiperOptions"
        @swiper="onSwiper"
        data-swiper="rentBikeSwiper"
      >
        <swiper-slide
          class="group bg-light-gray p-4 after:h-full after:w-full after:bg-yellow-300 after:content-['']"
          v-for="bike in bikes"
        >
          <div class="relative flex h-full flex-col justify-between lg:z-20">
            <p class="word-spacing-4 text-center text-base text-smoke-dark/40">
              {{bike.year}} - Manual - Petrol - {{bike.displacement}}cc
            </p>
            <div class="text-2xl">
              <p class="text-start">{{bike.model}}</p>
              <p class="flex justify-between">
                <span class="block">{{bike.maxRPM}} RPM</span>
                <span class="block">Grade {{bike.grade}}</span>
              </p>
            </div>
          </div>
          <div
            class="absolute top-1/2 left-1/2 z-10 w-full -translate-x-1/2 -translate-y-1/2 sm:w-[80%]"
          >
            <img
              :src="bike.imgUrl"
              class="transition-transform duration-300 group-active:scale-110 lg:group-hover:scale-110 lg:group-active:scale-100"
            />
          </div>
          <div
            class="absolute top-55% left-1/2 w-full -translate-x-1/2 -translate-y-1/2 px-4"
          >
            <img src="@/assets/images/triangle.svg" />
          </div>
          <router-link
            :to="`/rentOrder/${bike.id}`"
            class="absolute inset-y-0 inset-x-[30%] z-10 lg:inset-0 lg:z-30"
          ></router-link>
        </swiper-slide>
      </swiper>
    </div>
  </div>
</section>
