<footer class="bg-smoke-dark py-4">
  <div class="pt-4 pb-4">
    <img class="mx-auto w-fit" src="@/assets/images/logo.png" />
    <p class="mt-4 text-center text-base">
      <small>作者：RyanTsai</small>
      <a
        class="ml-3 inline-block"
        href="https://github.com/Linlaose"
        target="_blank"
        title="GitHub"
        ><i class="fa-brands fa-github text-2xl"></i
      ></a>
      <a
        class="ml-3 inline-block"
        href="https://www.linkedin.com/in/cheng-huan-tsai-635bb3241/"
        target="_blank"
        title="LinkedIn"
        ><i class="fa-brands fa-linkedin-in text-2xl"></i
      ></a>
    </p>
  </div>
  <div class="border-t border-orange-pink pt-4 text-center">
    <p class="container">資料、圖片皆參考網路資源作為 side project 練習之用</p>
  </div>
</footer>
