<section class="mt-6 bg-smoke-dark 3xl:mt-[278px]">
  <div class="container py-6 3xl:pb-[72px] 3xl:pt-10">
    <div class="flex justify-between">
      <h3 class="text-32px">
        最新消息
        <span class="hidden text-2xl text-orange-pink md:inline">News</span>
      </h3>
      <button type="button">
        <a
          href="./template.html"
          class="btn-clip-solid block w-[152px] py-1 text-base hover:bg-smoke-dark sm:h-auto sm:w-49 sm:py-3 sm:text-xl"
        >
          Get more
        </a>
      </button>
    </div>
  </div>
</section>
